# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/

# Environment
.env
.env.*

# Logs
logs/
*.log

# Node
node_modules/
dist/
dist-ssr/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db